.wrapper {
  display: grid;
  border: solid 2px black;
}
header {
  background: url('../pics/ice2.jpg');
}
#menuImg {
  max-width: 20px;
  max-height: 20px;
}
#mainMenu {
  background-image: url("pics/menu.png");
  position: fixed;
  max-width: 150px;
}
#mainMenu ul {
  display: none;
}
#mainMenu h3.tap ul {
  display: block;
}
#mainMenu h3:hover {
  cursor: pointer;
}
#mainMenu h3 ul li:hover {
  text-decoration: underline;
}
#headerName {
  text-align: center;
}
#headerTitle {
  text-align: center;
}
#headerStatement {
  max-width: 1005px;
  border-radius: 15px;
  background: white;
  color: rgb(121, 27, 204);
  text-align: center;
  margin: auto;
}
.menuList {
  list-style: none;
  color: white;
}
.menuList :hover {
  text-decoration: underline;
}
.navbar {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-row: auto;
  top: 80;
}
.navbar ul {
  display: grid;
  grid-column: 2/3;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 14px 10px;
  margin: 0;
}
.navList {
  list-style: none;
  text-align: center;
}
.navList a {
  text-decoration: none;
  background-color: black;
  color: rgb(19, 232, 206);
  padding: 14px 5px;
  border-radius: 5px;
}
.main {
  border: solid 1px red;
  background-color: rgb(16, 232, 28);
}
.skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.frontEnd {
  grid-column: 2/3;
}
.frontEnd h4 {
  text-align: center;
}
.frontEnd ul {
  list-style: none;
}
.frontEnd img {
  max-width: 100px;
  max-height: auto;
}
.frontEndImg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.backEnd {
  margin: auto;
  grid-column: 3/4;
}
.backEnd ul {
  list-style: none;
  text-align: center;
}
.backEnd img {
  max-width: 100px;
  max-height: auto;
}
.backEndImg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.projects h2 {
  text-align: center;
  grid-column: 1/2;
}
.project1 {
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.project2 {
  grid-row: 3/4;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.project3 {
  grid-row: 4/5;
}
.project4 {
  grid-row: 5/6;
}
.finalProject {
  grid-row: 6/7;
}
.sidebar {
  border: solid 1px green;
}
.footer {
  border: solid 1px pink;
}
